body {
    padding: 0;
    margin: 0;
    background-color: lightBlue;
}
h1 {
  color: purple;
  font-weight: bold;
  font-style: italic;
  font-family: Papyrus;
}
img {
  transform: rotate(10deg); /* transform is a property, rotate is a function */
  /*filter: blur(2px); /* blurring of images */
  filter: grayscale(100%);
  filter: opacity(50%); /*sets visibility of image -> 100% completely visible; 0% completely invisible */
  filter: brightness(20%) saturate(50%) contrast(50%); /* multiple functions for filter property can be added after each other */
  margin: 50px;
  padding: 10px;
  border-radius: 10px 100px 10px 100px; /* short hand for border-radius top left, top right, bottom right, bottom left */
  border: solid 5px black;
}
div {
  border: solid 3px lightBlue;
  text-align: center;
  background-color: bisque;
  margin: 20px;
}
.fantasy {
  color: black;
}
.center {
  border: solid 5px red;
  border-radius: 5px;
  padding: 20px 100px 20px 100px; /* short hand for padding  top, right, bottom, left */
  margin: 40px;
  background: linear-gradient(45deg, red, blue);
  text-align: center;
}
.gray-element {
  width: 200px;
  height: 100px;
  border: solid 10px red;
  border-radius: 10px;
  background-color: lightGray;
}
.navbar {
    background: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
<header class="page-header header container-fluid">
</header>
}
.nav-link,
.navbar-brand {
    color: #0d6efd;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link-big {
    color: #0d6efd;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
