body {
    padding: 0;
    margin: 0;
    background-color: lightBlue;
}
h1 {
  color: purple;
  font-weight: bold;
  font-style: italic;
  font-family: Papyrus;
}
img {
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
  border: solid 5px black;
}
.center {
  border: solid 5px red;
  border-radius: 5px;
  padding: 20px 100px 20px 100px;
  margin: 40px;
  text-align: center;
}
.gray-element {
  width: 200px;
  height: 100px;
  border: solid 10px red;
  border-radius: 10px;
  background-color: lightGray;
}
.navbar {
    background: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
<header class="page-header header container-fluid">
</header>
}
.nav-link,
.navbar-brand {
    color: #0d6efd;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link-big {
    color: #0d6efd;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
